// specific css for your homepage

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: black;
  // background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%);
  background-size: cover;
  margin: auto;
  width: 620px;
  flex-grow: 1;

  // background image - house
  background-image: url(desert-tree.jpg);
      /* background-repeat: no-repeat; */
      /* background-size: contain; */
      /* background-size: auto; */
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}

.glowing {
  -webkit-box-shadow: 12px -5px 15px 5px #FDD86A, 12px 10px 15px 7px #DE785F, -10px 10px 15px 7px #F3B285, -10px -7px 27px 1px #FFB095, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 12px -5px 15px 5px #FDD86A, 12px 10px 15px 7px #DE785F, -10px 10px 15px 7px #F3B285, -10px -7px 27px 1px #FFB095, 5px 5px 15px 5px rgba(0,0,0,0);
}



.home-video-wrapper {
  height: 100vh;
  display: flex;
  }

 .video {
  display: flex;
  width: 100vw;
  height: 100vh;
  //position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

.video-in {
  animation: fadeIn 5s ease-in-out;
}

.video-in-slow {
  animation: fadeIn 5s ease-in-out;
}

.video-out {
  animation: fadeOut 5s ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  100% { opacity: 1; }
  0% { opacity: 0; }
}


.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
 }

.timer-buttons {
  width: 70%;
}

.timer-buttons-main {
  width: 50%;
}

.timerbox {
  /* From https://css.glass */
background: rgba(37, 36, 36, 0.2);
border-radius: 16px;
border: 1px solid rgba(37, 36, 36, 0.42);
}

button {
  position: relative;
  //top: 50px;
  //font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: black;
}

button:hover {
  color: #90c0d1;
}


.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timer-header {
  font-weight: bold;
}

.break-header {
  font-weight: bold;
  color: #513631;
  font-size: 38px;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:  #513631;
  //background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5.0px);
  border-radius: 16px;
  margin-top: 60px;
  margin-bottom: 150px;
  padding: 40px 50px 50px 50px;
  background: rgba(112, 197, 231, 0.475);
  border-radius: 1px;
  border-color: rgba(112, 197, 231, 0.251);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.6);
}

.padding {
  padding-bottom: 20px;
}

.button-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-example input[type="text"] {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  color: #513631;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card {
  margin-top: 10px;
}

.time-container {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
}

.time-space {
  margin-top: 60px;
  margin-bottom: 150px;
  padding: 40px 50px 50px 50px;
  background: rgba(112, 197, 231, 0.475);
  border-radius: 1px;
  border-color: rgba(112, 197, 231, 0.251);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-main {
  color:#513631;
  font-size: 18px;
  font-weight: 600;
}

.text-timer {
  padding-top: 30px;
  padding-bottom: 20px;
  color:#513631;
  font-weight: 600;
}

.form-example {
  color: #513631;
}

.header-text {
  padding-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-fant {
  border-radius: 10px;
  box-shadow: 0px 10px 3px -6px rgb(170, 160, 120);
  margin: 10px auto;
  width: 180px;
  letter-spacing: 2px;
  border-radius: 8px;
  font-family: 'Skranji', cursive;
  color: #ffcc32;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3), 0px 10px 3px -6px rgb(170, 160, 120);
}

.time-background {
  background-color: beige;
}

.zelda-font-login {
  font-family: 'The Wild Breath of Zelda', sans-serif;
  color: #513631;
  font-size: 66px;
}

.main-card-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:  #513631;
  backdrop-filter: blur(5.0px);
  border-radius: 16px;
  margin-top: 60px;
  margin-bottom: 150px;
  padding: 40px 50px 50px 50px;
  background: rgba(112, 197, 231, 0.475);
  border-radius: 1px;
  border-color: rgba(112, 197, 231, 0.251);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.6);
}

.login-signup{
  color: #513631;
  text-decoration: none;
  font-size: 16px;
}

.login-fogot{
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.signupforgot {
  display: flex;
}
