<% unless current_user.nil? || controller.controller_name == "avatars" %>
  <a href="<%= avatars_path %>">
    <div class="user-avatar avatar-edit clickable">
      <%= image_tag "avatars/#{current_user.profile.avatar.name}" %>
      <p class="zelda-font-level">Lv.3</p>
    </div>
  </a>
<% end %>
