<footer id="footer">
  <div class="footer">
    <div class="footer-links d-flex justify-content-around">
      <div><%= "Contact Information" %></div>
      <div><%= "About Us" %></div>
      <div><%= "Privacy Policy" %></div>
    </div>
  </div>
</footer>
