<h2>This is the basic Pomodoro Timer</h2>

<div class="container justify-content-center">
  <div class="counter-container justify-content-center" data-controller="timer">
    <div class="minutes" data-target="timer.minutes">25</div>
    <div class="seconds" data-target="timer.seconds">00</div>
    <button class="btn-start" data-action="click->timer#appTimer">Start</button>
    <button class="btn-stop" data-action="click->timer#pauseTimer">Pause</button>
  </div>
</div>


<div>
  <h6>Break Time</h6>

</div>
