<h1>This is the basic Pomodoro Timer</h1>

<div class="container justify-content-center">
  <div class="counter-container justify-content-center" data-controller="timer">
    <div class="minutes" data-target="timer.minutes">25</div>
    <div class="seconds" data-target="timer.seconds">00</div>
    <button class="btn-start" data-action="click->timer#appTimer">Start</button>  </div>
</div>
<h1>Timer</h1>
<h1>Tasks</h1>
