<%# current avatar %>
<div class="">
  <div class="blurred-avatar my-4 p-4">
    <div class="main-avatar m-auto">
      <%= image_tag("avatars/#{@profile.avatar.name}", class: "rounded, main-avatar-picture")%>
    </div>
  </div>
  <%# All avatars %>
  <div>
  <div>
    <div class="container blurred-other-avatar">
      <% Avatar.all.each do |a| %>
        <% if @profile.level.level >= a.level %>
          <div class="" data-bs-toggle="modal" data-bs-target="#achievements-modal-<%= a.id %>">
            <div class="box">
              <div class="imgBx">
                <%= link_to image_tag("avatars/#{a.name}", class:"active-avatar-hover"), user_avatars_path(avatar_id: a.id), data: {turbo_method: :post} %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="">
            <div class="">
              <div class="grayscale">
                <%= link_to_if false, image_tag("avatars/#{a.name}") %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
