.navbar-lewagon {
  margin: auto;
  height: 100%;
  max-width: 620px;
  justify-content: space-between;
  background: #121111;
  border-radius: 10px;
  margin-top: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-size .navbar-brand img {
  width: 160px;
  border-radius: 80px;
}

.level {
  font-family: fantasy;
  font-size: 24px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 22px;
}


.btn-navbar-new {
  background: #262d3897;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.btn-navbar-new-transition:hover {
  background-color: #53273f;
}
