.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.btn-navbar-new {
  background: #262d3897;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 30px; /* Adjusted height */
  width: 80px; /* Adjusted width */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
  padding: 0; /* Remove padding */
  font-size: 12px; /* Adjust font size */
}

.btn-navbar-new-transition:hover {
  background-color: #53273f;
}

.navbar-spacing {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.zelda-font {
  font-family: 'The Wild Breath of Zelda', sans-serif;
  color: #FDD86A;
  font-size: 74px;
  line-height: 34px;
  -webkit-text-stroke: 1px #DE785F;
  margin-top: 25px;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.6);
}

.zelda-font:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffae4c;
  transition: text-shadow 0.2s ease-in-out;
}

.nav-icon {
  color: #ffffff;
  font-size: 36px;
  margin-top: 30px;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.6);
}

.nav-icon:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffae4c;
  transition: text-shadow 0.2s ease-in-out;
  color: #FDD86A;
  -webkit-text-stroke: 1px #DE785F;
}

// .nav-icon:hover {
//   color: #FDD86A;
//   -webkit-text-stroke: 1px #DE785F;
// }

.visited {
  color: #FDD86A;
  -webkit-text-stroke: 1px #DE785F;
}

.nav-width {
  width: 100%;
  padding: 8px;
  align-items: center;
}
