<body>
  <style>
    body {
      background-image: url("https://images.wallpaperscraft.com/image/single/house_fairy_tale_art_101615_3840x2160.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
 <div class="row row-container">
  <div class="col-4">
    <div class="image-container">
      <img src="https://img.freepik.com/premium-photo/hourglass-image-fantasy-generative-ai_251317-1957.jpg?w=826" alt="Placeholder Image" class="placeholder-image">
    </div>
  </div>
  <div class="col-8">
    <div class="text-container">
      <p>Achievement Name</p>
      <p>Study for 1 hour.</p>
      <p>Earned on: 6/14/2023.</p>
    </div>
  </div>
</div>

 <div class="row row-container">
  <div class="col-3">
    <div class="image-container">
      <img src="https://img.freepik.com/premium-photo/hourglass-image-fantasy-generative-ai_251317-1957.jpg?w=826" alt="Placeholder Image" class="placeholder-image">
    </div>
  </div>
  <div class="col-9">
    <div class="text-container">
      <p>Study for 1 hour.</p>
      <p>Achievement earned on: 6/14/2023.</p>
    </div>
  </div>
</div>

 <div class="row row-container">
  <div class="col-3">
    <div class="image-container">
      <img src="https://img.freepik.com/premium-photo/hourglass-image-fantasy-generative-ai_251317-1957.jpg?w=826" alt="Placeholder Image" class="placeholder-image">
    </div>
  </div>
  <div class="col-9">
    <div class="text-container">
      <p>Study for 1 hour.</p>
      <p>Achievement earned on: 6/14/2023.</p>
    </div>
  </div>
</div>

 <div class="row row-container">
  <div class="col-3">
    <div class="image-container">
      <img src="https://img.freepik.com/premium-photo/hourglass-image-fantasy-generative-ai_251317-1957.jpg?w=826" alt="Placeholder Image" class="placeholder-image">
    </div>
  </div>
  <div class="col-9">
    <div class="text-container">
      <p>Study for 1 hour.</p>
      <p>Achievement earned on: 6/14/2023.</p>
    </div>
  </div>
</div>

 <div class="row row-container grayscale">
  <div class="col-3">
    <div class="image-container">
      <img src="https://img.freepik.com/premium-photo/hourglass-image-fantasy-generative-ai_251317-1957.jpg?w=826" alt="Placeholder Image" class="placeholder-image">
    </div>
  </div>
  <div class="col-9">
    <div class="text-container">
      <p>Waste of time</p>
      <p>Study for 100 hours.</p>
      <p>Achievement unearned</p>
    </div>
  </div>
</div>

 <div class="row row-container grayscale">
  <div class="col-3">
    <div class="image-container">
      <img src="https://img.freepik.com/premium-photo/hourglass-image-fantasy-generative-ai_251317-1957.jpg?w=826" alt="Placeholder Image" class="placeholder-image">
    </div>
  </div>
  <div class="col-9">
    <div class="text-container">
      <p>Total waste of time</p>
      <p>Study for 1000 hours.</p>
      <p>Achievement unearned</p>
    </div>
  </div>
</div>
</body>
</html>
